{% include  'head.html' %}
<div class="bg">
  <div class="container fill">
    <div class="row align-items-center fill">
      <div class="col-sm"></div>
      <div class="col-sm align-self-center">
        <div id="loading" class="center"></div>
        <div id="form">
          <form action="/url_parser/" method="post">
            <div class="col text-center">
              <div class="form-group row">
                <input type="string" name="url" class="form-control" id="exampleInputEmail1" placeholder="Enter url (e.g. www.google.com)">
              </div>
              <button type="submit" class="btn btn-primary" onclick="loading();">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</div>
{% include  'foot.html' %}
